* {
  box-sizing: border-box;
}

.topnav {
  background-color: rgb(234, 217, 187);
  align-items: center;
  font-weight: 900;
}
.top {
  display: flex;
  justify-content: space-between;
}

.menu {
  float: left;
  color: rgb(0, 5, 66);

  padding: 25px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 72, 72);
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

*,
*:before,
*:after {
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
}

.container {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 98vw;
}

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 300px;
  /* height: 300px; */
  max-width: 400px;
  object-fit: cover;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 300px;
  height: 200px;

  max-width: 400px;
  object-fit: cover;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top {
  top: 20%;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 450%;
}
hr {
  width: 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;

  text-align: center;
  font-family: arial;
}

.titlel {
  color: grey;
  font-size: 18px;
}

.button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.a2 {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.button2:hover,
.a2:hover {
  opacity: 0.7;
}
.profile {
  display: flex;
}
p {
  text-align: center;
  text-align: center;
}
