* {
  box-sizing: border-box;
}

.topnav {
  background-color: rgb(234, 217, 187);
  align-items: center;
  font-weight: 900;
}
.top {
  display: flex;
  justify-content: space-between;
}

.menu {
  float: left;
  color: rgb(0, 0, 0);

  padding: 25px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 72, 72);
}

body {
  font-family: Arial;
}
.shoesImage {
  vertical-align: middle;
  width: 100%;
  background-color: white;
}

.buttonDiv {
  display: none;
}

.addToCart {
  display: none;
}

.shoes {
  overflow: visible;
  margin-left: 4em;
  margin-top: 3em;
  display: inline-block;
  width: 20%;
}
.details {
  justify-content: space-between;
  width: 18em;
  display: flex;
}

.shoesName {
  font-weight: 600;
}

.backshopping {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  font-size: 1em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;

  -webkit-transition: all 0.25s linear;
  margin-top: -2.2%;
  display: inline-block;
}
.backshopping:hover {
  background-color: #009579;
}
.heading {
  white-space: nowrap;
}

.h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  display: inline-block;
  font-weight: 600;
  color: saddlebrown;
  background-image: linear-gradient(#d99a5a, #d99a5a);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  text-decoration: none;
  margin: 0;
}
.shopping {
}
.heading:hover .h1 {
  /* background-size: 100% 0.1em; */
}

hr {
  border-top: 1px solid #82ca9c;
}
.warning {
  color: red;
  letter-spacing: 0.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
