* {
  box-sizing: border-box;
}

.topnav {
  background-color: rgb(234, 217, 187);
  align-items: center;
  font-weight: 900;
}
.top {
  display: flex;
  justify-content: space-between;
}

.menu {
  float: left;
  color: rgb(0, 0, 0);

  padding: 25px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 72, 72);
}

body {
  font-family: Arial;
}
.shoesImage {
  vertical-align: middle;
  width: 100%;
  background-color: white;
}

.buttonDiv {
  display: none;
}

.addToCart {
  display: none;
}

.shoes {
  overflow: visible;
  margin-left: 4em;
  margin-top: 3em;
  display: inline-block;
  width: 20%;
}
.details {
  justify-content: space-between;
  width: 18em;
  display: flex;
}

.shoesName {
  font-weight: 600;
}
