* {
  box-sizing: border-box;
}

.topnav {
  background-color: rgb(234, 217, 187);
  align-items: center;
  font-weight: 900;
}
.top {
  display: flex;
  justify-content: space-between;
}

.menu {
  float: left;
  color: rgb(0, 0, 0);

  padding: 25px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 72, 72);
}

body {
  font-family: Arial;
}

.scrollbar {
  height: 34em;
  overflow-y: scroll;
}

.shoesImage {
  vertical-align: middle;
  width: 100%;
  background-color: white;
}
.shoesImage:hover {
}

.imgDiv {
  position: relative;
  width: 100%;
  /* -webkit-filter: brightness(75%); */

  transition: all 1s ease;
}

.addToCart {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 200px;
  opacity: 0.6;
  -webkit-transform: translate(-50%, -50%);
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out 0s;

  background-color: rgb(234, 217, 187);
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.search_box {
  box-shadow: 10px 10px 10px black;
  text-align: center;
  border-radius: 40px;
  background-color: rgb(234, 217, 187);
  float: left;
  margin-top: 20px;
}

input {
  border: none;
  margin: 15px 10px 15px 5px;
  font-size: 20px;
  outline: none;
  color: #17202a;
  background-color: inherit;
}
.search_box button i {
  font-size: 20px;
  margin: 0px 10px;
  color: rgb(0, 5, 66);
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#error {
  margin: auto;
  letter-spacing: 0.2em;
  margin-top: 30vh;
  font-weight: 900;
  font-size: 3em;
  display: none;
  text-align: center;
  color: red;
}
.shoes {
  overflow: visible;
  margin-left: 4em;
  margin-top: 3em;
  display: inline-block;
  width: 300px;
  position: relative;
  display: inline-block;

  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.shoes:hover {
  transform: scale(1.1);
}
.details {
  justify-content: space-between;
  width: 300px;
  display: flex;
}

.shoesName {
  font-weight: 600;
}

.filtersDiv {
  float: right;
}

.filter {
  background-color: rgb(234, 217, 187);
  color: rgb(0, 5, 66);
  padding: 16px;
  font-size: 16px;
  border: none;
}

filter option:hover {
  cursor: pointer;
  background-color: #301010;
}

.logo {
  display: flex;
}
hr {
  width: 50%;
}
option:hover {
}
.sum {
  position: absolute;
  top: 70%;
  left: 120%;
  margin: -50px 0 0 -50px;
}
