* {
  box-sizing: border-box;
}

.topnav {
  background-color: rgb(234, 217, 187);
  align-items: center;
  font-weight: 900;
}
.top {
  display: flex;
  justify-content: space-between;
}

.menu {
  float: left;
  color: rgb(0, 0, 0);

  padding: 25px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 72, 72);
}

body {
  font-family: Arial;
}

.scrollbar {
  height: 34em;
  overflow-y: scroll;
}

.shoesImage {
  vertical-align: middle;
  width: 100%;
  background-color: white;
}
.shoesImage:hover {
}

.imgDiv {
  position: relative;
  width: 100%;
  /* -webkit-filter: brightness(75%); */

  transition: all 1s ease;
}
.imgDiv:hover {
  /* -webkit-filter: brightness(150%); */
  filter: drop-shadow(0 0 1rem rgb(0, 7, 74));
  transition: 1s ease;
}

.buttonDiv {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
  opacity: 1;
}

.addToCart {
  color: white;
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 20%;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  box-shadow: 5px 20px 50px 5px #000;
  border-radius: 50%;
  opacity: 0.6;
  transition: 0.3s;
}
.addToCart:hover {
  opacity: 1;
}

.container {
  margin-inline: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.search_box {
  box-shadow: 10px 10px 10px black;
  text-align: center;
  border-radius: 40px;
  background-color: rgb(234, 217, 187);
  float: left;
  margin-top: 20px;
  /* background-color: rgb(245, 241, 241); */
}

input {
  border: none;
  margin: 15px 10px 15px 5px;
  font-size: 20px;
  outline: none;
  color: #17202a;
  background-color: inherit;
}
.search_box button i {
  font-size: 20px;
  margin: 0px 10px;
  color: rgb(0, 5, 66);
}

button {
  background: transparent;
  border: none;
  outline: none;
}

#error {
  margin: auto;
  margin-top: 30vh;
  font-weight: 900;
  font-size: 5em;
  display: none;
}
.shoes {
  overflow: visible;
  margin-left: 4em;
  margin-top: 3em;
  display: inline-block;
  width: 20%;
}
.details {
  justify-content: space-between;
  width: 18em;
  display: flex;
}
.alldetails:hover {
}

.shoesName {
  font-weight: 600;
}

.filtersDiv {
  margin-top: 20px;
  float: right;
}

.filter {
  background-color: rgb(234, 217, 187);
  color: rgb(0, 5, 66);
  padding: 16px;
  font-size: 16px;
  border: none;
}

filter option:hover {
  cursor: pointer;
  background-color: #301010;
}

.logo {
  display: flex;
}
hr {
  width: 50%;
}
option:hover {
}
